# --- 보안 및 설정 파일 (가장 중요) ---
.env

# --- 파이썬 관련 캐시 및 환경 ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- 빌드 및 배포 관련 ---
build/
dist/
*.spec

# --- OS 및 에디터 관련 ---
.DS_Store
.vscode/
.idea/